*{
    margin: 0;
    padding: 0;
}

.primary-bg{
  width: 100%;
   height: 698px;
  background-image: url('./Assets/Hero-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  overflow: hidden;
}

.secondary-bg{
    width: 100%;
    height: 306px;
    background-color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    overflow: hidden;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;

}

.logo{
    font-size: 34px;
    color: #4E47FF;
}

/*button area*/

.sign-up-btn{
    background-color: #4E47FF;
    font-weight: bold;
    border-radius: 10px;
    padding: 12px 38px;
    border: none;
}
.focused-btn{
    background-color: #4E47FF;
    font-weight: bold;
    border-radius: 10px;
    padding: 12px 36px;
    border: none;
}

.preview-btn{
    background-color: #4E47FF;
    font-weight: bold;
    border-radius: 10px;
    padding: 12px 36px;
    border: none;
}


div p{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}
.middle{
    text-align: center;
    margin: 237px 267px;
}